<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>570139560922-5i1u3en8nuqmpano2p1iov4ps1prr1tp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.570139560922-5i1u3en8nuqmpano2p1iov4ps1prr1tp</string>
	<key>API_KEY</key>
	<string>AIzaSyDmP_fdxz-PWJ0ePNvHuWBTdN-2HV_6QMg</string>
	<key>GCM_SENDER_ID</key>
	<string>570139560922</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Flash-Chat-iOS13-Zhandos</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-77e0d</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-77e0d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:570139560922:ios:e267dbea21bbc5db0b8ee3</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-77e0d.firebaseio.com</string>
</dict>
</plist>